{% extends 'base.html'%}
<head>

{% import 'macros.html' as macro%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<style>
        @import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Satisfy');
        </style>
{% endblock %} 
<!-- Content block -->

</head>
<body>
{% block content %}
<div class="container">
<h3>General News</h3>
    <!-- Poster background -->
    
    {% for article in articles%}
    <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                <h3><img src="{{article.urlToImage}}" class="img-responsive" alt="Newsphoto"></h3>
            </div>
            <p class="overview"> {{ article.author }}</p>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                <div class="well"><p>{{article.description}}</p> 
                <p>published:{{ article.publishedAt}}</p>
                    
  
            <h3><a href="{{article.url}}">read more</a></h3>

            </div>
            

           </div>
    </div>
    {%endfor%}
   

</div>
{% endblock %}
</body>
